div.Bodies-List {
    overflow-x: hidden;
    overflow-y: hidden;
    flex: 0 1 auto;
}

div.List-overflowing {
    padding-right: 15px;
}

div.Bodies-List:hover {
    overflow-y: auto;
}

div.List-overflowing:hover{
    padding-right: 10px;
}

div.Bodies-Row {
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px white;
    border-radius: 5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 5px;
}

div.Bodies-Row:hover {
    background-color: #292828;
    color: white;
}

div.Bodies-Row-selected {
    background-color: white;
    color: #1B1B1B;
}
div.Bodies-Row-selected:hover {
    background-color: rgb(218, 218, 218);
    color: #1B1B1B;
}

div.Bodies-info-row {
    padding: 5px;
    border-bottom: solid 2px white;
}