.NavigationTab-speed{
    flex:1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.NavigationTab-speed h1 span.speed{ font-size: 1.5em;}
.NavigationTab-speed h1{ font-size: 1.6em;}
.NavigationTab-speed h2{ font-size: 1.2em;}
.NavigationTab-speed div.speed-actions {
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5px;
}