div.TabLink {
    cursor: pointer;
    font-size: 14px;
    padding:5px;
    border: solid 1px white;
    border-radius: 5px;
    margin-left: 5px;
    text-transform:  capitalize;
}

div.TabLink:first-child {
    margin-left: 0;
}

div.TabLink:hover {
    background-color: white;
    color: black;
}

div.TabLink.active-tab-link {
    cursor: not-allowed;
    color: black;
    background-color: white;
}
div.TabLink.disabled-tab-link {
    cursor: not-allowed;
    opacity: .5;
}

div.TabLink.disabled-tab-link:hover {
    background-color: transparent;
    color: white;
}