input[type=range].slider {
    margin: 11.2px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].slider:focus {
    outline: none;
  }
  input[type=range].slider::-webkit-slider-runnable-track {
    background: #adcfd6;
    border: 0;
    width: 100%;
    height: 12.6px;
    cursor: pointer;
  }
  input[type=range].slider::-webkit-slider-thumb {
    margin-top: -11.2px;
    width: 15px;
    height: 35px;
    background: #3e8a8e;
    border: 2.2px solid #3e8a8e;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #d6e7ea;
  }
  input[type=range].slider::-moz-range-track {
    background: #adcfd6;
    border: 0;
    width: 100%;
    height: 12.6px;
    cursor: pointer;
  }
  input[type=range].slider::-moz-range-thumb {
    width: 15px;
    height: 35px;
    background: #3e8a8e;
    border: 2.2px solid #3e8a8e;
    cursor: pointer;
  }
  input[type=range].slider::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12.2px 0;
    color: transparent;
    width: 100%;
    height: 12.6px;
    cursor: pointer;
  }
  input[type=range].slider::-ms-fill-lower {
    background: #84b7c2;
    border: 0;
  }
  input[type=range].slider::-ms-fill-upper {
    background: #adcfd6;
    border: 0;
  }
  input[type=range].slider::-ms-thumb {
    width: 15px;
    height: 35px;
    background: #3e8a8e;
    border: 2.2px solid #3e8a8e;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range].slider:focus::-ms-fill-lower {
    background: #adcfd6;
  }
  input[type=range].slider:focus::-ms-fill-upper {
    background: #d6e7ea;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range].slider {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  