body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #9FA1A3;
}

div#ui {
  border-radius: 5px;
  width: 49vw;
  height: 95vh;
  background: #1B1B1B;
  color: white;
}

div#porthole {
  border: solid 1px black;
  height: 90vh;
  width: 48vw;
  border-radius: 50%;
  overflow: hidden;
}

button {
  font-family: 'Orbitron', sans-serif;
}

