body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

div#ui {
  border: solid 1px black;
  width: 48vw;
  height: 90vh;
}

div#porthole {
  border: solid 1px black;
  height: 90vh;
  width: 48vw;
  border-radius: 50%;
  overflow: hidden;
}

