body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #9FA1A3;
}

div#ui {
  display: flex;
  border-radius: 5px;
  min-width: 49vw;
  height: 95vh;
  background: #1B1B1B;

  color: white;
  font-size: 14px;
}

div#porthole {
  border: solid 1px black;
  height: 90vh;
  width: 48vw;
  border-radius: 50%;
  overflow: hidden;
}

/*EFFECT*/
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-.5deg); }
  20% { transform: translate(-1px, 0px) rotate(.5deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(.5deg); }
  50% { transform: translate(-1px, 1px) rotate(-.5deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(.5deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;

}

@keyframes blink{
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1.5s linear infinite;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: white;
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  z-index: 10;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 5px solid white;
}
/* EO Scrollbar */

button {
  font-family: 'Orbitron', sans-serif;
}

/* Layout */
.ui-section {
  border: solid 3px white;
  border-radius: 5px;
}

.ui-section-t {
  border-top: solid 3px white;
  border-radius: 5px;
}

.ui-section-b {
  border-bottom: solid 3px white;
  border-radius: 5px;
}

.ui-section-r {
  border-right: solid 3px white;
  border-radius: 5px;
}

.ui-section-l {
  border-left: solid 3px white;
  border-radius: 5px;
}

/* Typography */
h3 {
  margin:0;
}
span.label {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

h3.valueHeader span{ font-size: 1.3em;}
h3.valueHeader { font-size: 1.4em;}

/* UTILS */
.w-full {
  width: 100%;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.m-5 {
  margin: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.flex {
  display: flex;
}

.as-c {
  align-self: center;
}

.as-e {
  align-self: flex-end;
}

.as-s {
  align-self: flex-start;
}

.f-1 {
  flex:1;
}

.f-2 {
  flex:2;
}

.f-3 {
  flex:3;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.f-ac {
  align-items: center;
}

.f-as {
  align-items: flex-start;
}

.f-ae {
  align-items: flex-end;
}

.f-jc {
  justify-content: center;
}

.f-js {
  justify-content:  flex-start;
}

.f-je {
  justify-content:  flex-end;
}

.f-jsa {
  justify-content: space-around;
}

.f-jsb {
  justify-content: space-between;
}

.f-fw {
  flex-flow: wrap;
}


